/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #f7f9fc;
  color: #333;
}

.container {
  display: flex;
  height: 100%;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #fff;
  border-right: 1px solid #e5e7eb;
  padding: 1.5rem;
}
.logo {
    padding-bottom: 40px;
    align-items: center;
}



.nav-title {
  font-size: 0.8rem;
  color: #6b7280;
  margin-bottom: 1rem;
}

.board-btn {
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  text-align: left;
  padding: 0.75rem 1rem;
  border-radius: 20px;
  color: #374151;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.board-btn.active {
  background: #635FC7;
  color: #fff;
  text-align: center;
  width: 200px;
}

/* Main Area */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: white;
  padding: 1rem 2rem;
  border-bottom: 1px solid #e5e7eb;
  
}

.header h1 {
  font-size: 1.25rem;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* Kanban Board */
.board {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex: 1;
}

.column {
  flex: 1;
}

.column h2 {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #6b7280;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.dot.blue { background: #3b82f6; }
.dot.purple { background: #8b5cf6; }
.dot.green { background: #10b981; }

.card {
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  font-size: 0.95rem;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #e5e7eb;
  }

  .board {
    flex-direction: column;
  }
}
